<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>{{artist.first_name}}'s Dashboard</title>
</head>
<body>
    <h1 >Welcome {{artist.first_name}}</h1>
    <ul class="nav justify-content-end">
                <li class="nav-item">
            <a class="nav-link" href="/paintings/add">Add Painting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
    <h2>Paintings</h2>
    <table class="table" id='AllPaintings'>
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for painting in paintings %}
          <tr>
            <td>{{painting.title}}</td>
            <td>{{painting.artist}}</td>
            <td>
                {% if painting.artist_id == session.artist_id %}
                    <a href="/edit">edit</a>
                    <a href="/delete">delete</a>
                {% endif %}
                {% if not painting.artist_id == session.artist_id %}
                    <a href="">NONE</a>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</body>
</html>