<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Login - Paintings</title>
</head>
<body>
    {% with messages = get_flashed_messages(True) %}
    <h2>Register: </h2>
    <form class="container" action="/register" method="POST">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="first_name" placeholder="First Name" name ="first_name" value="{{session['first_name']}}">
            {% for category, message in messages %}
                    {% if category == 'first_name' %}
                        <p class='flashes'>
                            {{message}}
                        </p>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="last_name" placeholder="Last Name" name= "last_name" value="{{session['last_name']}}">
            {% for category, message in messages %}
                    {% if category == 'last_name' %}
                        <p class='flashes'>
                            {{message}}
                        </p>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="something@provider.com" name = "email" value="{{session['email']}}">
            {% for category, message in messages %}
                    {% if category == 'email' %}
                        <p class='flashes'>
                            {{message}}
                        </p>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password1" name="password1">
            {% for category, message in messages %}
                    {% if category == 'password' %}
                        <p class='flashes'>
                            {{message}}
                        </p>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Register!</button>
        </div>
    </form>
    <h2>Login: </h2>
    <form action="/login" method="POST" class="container">
        <div class="mb-3">
            <label for="email_login" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email_login" placeholder="something@provider.com" name = "email" value="{{session['email_login']}}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" value="">
            {% for category, message in messages %}
                    {% if category == 'login' %}
                        <p class='flashes'>
                            {{message}}
                        </p>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Login!</button>
        </div>
    </form>
    {% endwith %}
</body>
</html>