<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>View Painting</title>
</head>
<body>
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/paintings/add">Add Painting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/artists/{{session['artist_id']}}">Dashboard</a>
            </li>
        </ul>
        <h1>
            {{painting.title}}
        </h1>
        <h4>Painted by {{painting.artist}}</h4>
        <h4>Description:</h4>
        <p>{{painting.description}}</p>
        <h4>Price:</h4>
        <p>${{painting.price}}</p>
        <h4>Number Purchased</h4>
        <p>{{painting.number_purchased}}</p>

        {% if painting.number_purchased < painting.quantity %}
        <form action="/paintings/{{painting.id}}/buy" method="POST">
            <button type="submit">Buy</button>
        </form>
        {% endif %}
        
        {% if painting.number_purchased >= painting.quantity %}
        <p>Sorry, SOLD OUT</p>
        {% endif %}
        
    </div>
    
</body>
</html>